<div class="container-big-card">
    <div class="big-card-img">
        <img src="https://t.ctcdn.com.br/laM3NP20lA_2yi7q3W5wEFHUeZ8=/1200x675/smart/i324541.jpeg" alt="">
    </div>
    <div class="big-card-title">
        <a href="#">
            <h1>Nova teoria sobre a Terra!</h1>
        </a>
    </div>
    <div class="big-card-description">
        <p>Uma nova teoria sobre a Africa ser meio ocá: Cientistas Chineses afirmam que na regiao Africana exista um buraco para o centro da terra e que os EUAs escondem de nós com mentiras e imagens de pobreza para que não vá turistas para la, veja abaixo um depoimento do Cientista Chines PãoKentinho: Lorem ipsum dolor sit amet consectetur, adipisicing elit. A fugiat esse incidunt delectus impedit, tempore doloribus itaque ullam soluta. Dicta, amet iusto sint nobis voluptate animi ad suscipit incidunt nam.</p>
    </div>
</div>
