<div class="small-card-grid">
    <div class="container-small-card">
        <div class="small-card-img">
            <img src="{{photoCover}}" alt="">
        </div>
        <div class="small-card-texts">
            <div class="small-card-date">
                <p>{{cardTitle}}</p>
            </div>
            <div class="small-card-title">
                <a href="content/{{id}}">
                    <h1>{{cardDescription}}</h1>
                </a>
            </div>
        </div>
    </div>
</div>
<hr>